@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/HomeCSS/Header.css">


    <!--HEADER-->
    
         <div class="section1">
        <div class="text">PARALLAX</div>
    </div>
    <div class="section2">
        <div class="text">NORMAL</div>
    </div>
    
    


   
