@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/HomeCSS/Header.css">

   
<div>
    
    <div class="wrapper">
        <main>
            <section class="module parallax parallax-1">
                <div class="row teste">
                    <div class="col">
                        <img class="img-fluid" src="~/lib/Images/profile-pic.png" />
                    </div>
                    <div class="col">
                        <h1 ><strong>Fernanda R. Miranda</strong></h1>
                    </div>
                </div>
            </section>

            <section class="module content">
                <div class="container">
                    <h2>Sobre mim</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
                    </p>
                </div>
            </section>

            <section class="module parallax parallax-2">
                <h1>Experiência</h1>
            </section>

            <section class="module content">
                <div class="container">
                    <h2>Qualquer texto aqui..</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
                    </p>
                </div>
            </section>

            <section class="module parallax parallax-3">
                <h1>Formação acadêmica</h1>
            </section>

            <section class="module content">
                <div class="container">
                    <h2>Qualquer texto aqui..</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quisquam reiciendis unde voluptatem dignissimos! Adipisci alias rerum commodi ad excepturi. Quod aut maxime non architecto numquam vel et, magnam eius!
                    </p>
                </div>
            </section>

        </main>
    </div>

</div>


   
